.user-card {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 16px;
  }

  .name {
    float: left;
    padding-top: 8px;
    width: calc(100% - 48px);
  }
}
