$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import '../../../node_modules/react-select/scss/select';
@import '../../../node_modules/react-select/scss/control';
@import '../../../node_modules/react-select/scss/menu';
@import '../../../node_modules/react-select/scss/mixins';
@import '../../../node_modules/react-select/scss/multi';
@import '../../../node_modules/react-select/scss/spinner';

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;

  #root {
    width: 100%;
    height: 100%;
  }
}

.app-shell {}
